* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-image: linear-gradient(135deg, #1e00f9 0%, #005FF9 40%, #00dbf9 70%);
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
}

.navi{
  border: #1e00f9 solid 2px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 15px;
}

h1{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}
main {
  display: inline;
}

header {
  padding: 12% 0;
  padding-bottom: 6%;
  width: 100%;
  display: flex;
  text-align: center;
  
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
  min-width: 300px;
}

section:nth-child(even) {
  background-color: #ddd;
}

.portrait{
  width: 50%;
}

h2{
  margin: 0px;
}

@media screen and (min-width: 700px){
  /*tablet size*/
  .portrait{
    max-width: 350px;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h1{
    padding:  30px;
    font-size: 45px;
  }
  main{
    display: flex;
    flex-wrap: wrap;
  }
  h2{
    font-size: 42px;
  }
  p{
    font-size: 35px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  section{
    padding: 50px;
    flex-grow: 1;
  }
  .navi{
    border: #1e00f9 solid 2px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
  }
}
