* {
  box-sizing: border-box;
  color: #EEEEEE;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color: #222831;
}

nav,
footer {
  padding: 1% 0;
  background-color: #B55400;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
}

.navi{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

h1{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
  
}
main {
  display: inline;
}

header {
  padding: 12% 0;
  padding-bottom: 6%;
  width: 100%;
  display: flex;
  text-align: center;
}

section {
  border: #B55400 solid 4px;
  min-height: 200px;
  padding: 6% 0;
  min-width: 300px;
  background-color: #393E46;
}

.portrait{
  width: 50%;
}

h2{
  margin: 0px;
  color: #222831;
}
.pkmnquiz{
  background-image: url('images/pokemon.png');
  background-position-y: -250px;
}
section.aboutme{
  background-color: #9804EC;
}
.whiteText{
  color: #EEEEEE;
}
p{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color:#222831;
}

@media screen and (min-width: 700px){
  /*tablet size*/
  .portrait{
    max-width: 350px;
  }
  .pkmnquiz{
    background-position-y: -100px;
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h1{
    padding:  30px;
    font-size: 45px;
  }
  main{
    display: flex;
    flex-wrap: wrap;
  }
  h2{
    font-size: 42px;
  }
  p{
    font-size: 35px;
  }
  section{
    padding: 25px;
    flex-grow: 1;
    margin: 5px;
  }
  .navi{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
  }
}
